<form class="product-form" action="/v1/quiz/addQuiz" method="POST">
    <div class="form-control">
        <label for="question">Question</label>
        <input type="text" name="question" id="question">
    </div>
    <div class="form-control">
        <label for="answers">Answers</label>
        <input type="text" name="answers" id="answers">
        <input type="text" name="answers" id="answers">
        <input type="text" name="answers" id="answers">
        <input type="text" name="answers" id="answers">
    </div>
    <div class="form-control">
        <label for="correctAnswer">Correct answer</label>
        <input type="text" name="correctAnswer" id="correctAnswer">
    </div>
    <div class="form-control">
        <label for="quizType">Quiz type</label>
        <input type="text" name="quizType" id="quizType">
    </div>

    <button class="btn" type="submit">Add Meal</button>
</form>